
.big-bg {
  background-image: url('../../../../assets/images/horizontal.jpg');
  background-color: #A0A39A;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 800px;
}
