<div fxLayout="column" *ngIf="stock" fxLayoutGap="10px">
  <div fxLayout="column">

    <!--------------- Title and menu --------------------->
    <mat-toolbar class="zf-mini-toolbar">{{title}}</mat-toolbar>

    <form #stockEditForm="ngForm">
      <!-- Editor form has two sets of fields. Put them side by side on larger screens and in a -->
      <!-- column on smaller ones. -->
      <div [fxLayout]="(appState.screenSize > ScreenSizes.SMALL) ? 'row' : 'column'" fxLayoutGap="20px">

        <!-- First group of fields pertain to the stock itself -->
        <div fxFlex="50" fxLayout="column">
          <mat-form-field>
            <label>
              <input [(ngModel)]="stock.name" disabled matInput name="sn" placeholder="Stock Number" type="text">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input [(ngModel)]="stock.description" matInput maxlength="100" name="desc" placeholder="Description"
                     required
                     type="text">
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input [(ngModel)]="fertilizationDate" [disabled]="stock.nextSubStockNumber > 1"
                     [matDatepicker]="picker" matInput
                     name="fertDate" placeholder="Fertilization Date" required
                     (dateChange)="onFertilizationDateChange()">
            </label>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="!appState.getState('hidePI')">
            <label>
              <input (keyup)="onPIChange()" [(ngModel)]="stock.pi" [matAutocomplete]="autoPI" matInput maxlength="25"
                     name="pi" placeholder="Primary Investigator"
                     type="text">
            </label>
          </mat-form-field>
          <mat-form-field *ngIf="!appState.getState('hidePI')">
            <mat-select [(ngModel)]="stock.piUser" name="piUser" placeholder="Primary Investigator">
              <mat-option [value]=null>--None--</mat-option>
              <mat-option *ngFor="let option of pis" [value]="option">
                <div>{{option.name}}</div>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input (keyup)="onResearcherChange()" [(ngModel)]="stock.researcher" [matAutocomplete]="autoResearcher"
                     matInput maxlength="20"
                     name="researcher" placeholder="Researcher"
                     type="text">
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="stock.researcherUser" name="researcherUser" placeholder="Researcher">
              <mat-option [value]=null>--None--</mat-option>
              <mat-option *ngFor="let option of researchers" [value]="option">
                <div>{{option.name}}</div>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <label>
              <textarea [(ngModel)]="stock.comment" cdkAutosizeMaxRows="7" cdkTextareaAutosize="true"
                        matInput maxlength="4000"
                        name="comment" placeholder="Comment"></textarea>
            </label>
          </mat-form-field>
        </div>

        <mat-divider vertical fxHide.lt-sm></mat-divider>
        <!-- The second group identifies the stock's parents -->
        <div class="zf-full-width" fxLayout="column">
          <!--  Mother --------------------------------------->
          <span class="zf-sub-title">Mom</span>
          <mat-radio-group [(ngModel)]="momInternal" color="primary" name="mom"
                           [disabled]="!stock.parentsEditable">
            <mat-radio-button class="zf-radio-button" [value]=true>Internal</mat-radio-button>
            <mat-radio-button class="zf-radio-button" [value]=false>External</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="momInternal" fxLayout="column">
            <mat-form-field>
              <label>
                <input #matStockNameF="ngModel" (keyup)="onSetMatStock()"
                       [(ngModel)]="stock.matStock.name"
                       [disabled]="!stock.parentsEditable" matInput name="matStockNameF"
                       placeholder="Stock Number" stockNameCheck>
              </label>
              <mat-error *ngIf="matStockNameF.errors">Stock name does not exist</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.matStock.description" disabled matInput name="msd"
                       placeholder="Description" type="text">
              </label>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.matStock.alleleSummary" disabled matInput name="mas"
                       placeholder="Allele Summary" type="text">
              </label>
            </mat-form-field>
          </div>
          <div *ngIf="!momInternal" fxLayout="column">
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.externalMatId" [disabled]="!stock.parentsEditable" matInput maxlength="20"
                       name="extMomId" placeholder="External Identifier"
                       type="text">
              </label>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.externalMatDescription" [disabled]="!stock.parentsEditable" matInput
                       maxlength="40"
                       name="extMomDesc" placeholder="Description"
                       type="text">
              </label>
            </mat-form-field>
          </div>

          <!--  Father --------------------------------------->
          <span class="zf-sub-title">Dad</span>
          <mat-radio-group [(ngModel)]="dadInternal" color="primary" name="dad"
                           [disabled]="!stock.parentsEditable">
            <mat-radio-button class="zf-radio-button" [value]=true>Internal</mat-radio-button>
            <mat-radio-button class="zf-radio-button" [value]=false>External</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="dadInternal"  fxLayout="column">
            <mat-form-field>
              <label>
                <input #patStockNameF="ngModel" (keyup)="onSetPatStock()"
                       [(ngModel)]="stock.patStock.name" [disabled]="!stock.parentsEditable" matInput
                       name="patStockNameF"
                       placeholder="Stock Number" stockNameCheck>
              </label>
              <mat-error *ngIf="patStockNameF.errors">Stock name does not exist</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.patStock.description" disabled matInput
                       name="psd" placeholder="Description">
              </label>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.patStock.alleleSummary" disabled matInput name="pas"
                       placeholder="Allele Summary" type="text">
              </label>
            </mat-form-field>
          </div>
          <div *ngIf="!dadInternal" fxLayout="column">
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.externalPatId" [disabled]="!stock.parentsEditable" matInput maxlength="20"
                       name="extPatId" placeholder="External Identifier"
                       type="text">
              </label>
            </mat-form-field>
            <mat-form-field>
              <label>
                <input [(ngModel)]="stock.externalPatDescription" [disabled]="!stock.parentsEditable" matInput
                       maxlength="40"
                       name="extMatId" placeholder="Description"
                       type="text">
              </label>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="fill-remaining-space"></div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div class="fill-remaining-space"></div>
        <button mat-button color="primary" (click)="cancel()">Cancel</button>
        <button mat-button color="primary" [disabled]="isUnchanged()" (click)="revert()">Revert</button>
        <button (click)="save()" [disabled]="isUnchanged() || !stockEditForm.valid" color="primary" mat-button>Save
        </button>
      </div>
    </form>
  </div>
</div>

<mat-autocomplete #autoResearcher="matAutocomplete">
  <mat-option *ngFor="let option of filteredResearcherOptions" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #autoPI="matAutocomplete">
  <mat-option *ngFor="let option of filteredPIOptions" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>
