RewriteEngine On
# This is required to deploy the application to an apache server
# It causes links like /zf-client/stock_manager (for which there is no static file)
# to be written to /zf-client/index.html where the angular app will
# take over and handle the route.
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]
    # If the requested resource doesn't exist, use index.html
RewriteRule ^ /zf-client/index.html
