@import '../node_modules/@angular/material/theming';

$zf-primary: mat-palette($mat-blue);
$zf-accent: mat-palette($mat-yellow, A200, A100, A400);
$zf-warn: mat-palette($mat-red);

$zf-app-theme: mat-light-theme($zf-primary, $zf-accent, $zf-warn);

