<div fxLayout="row" fxLayoutAlign="center" *ngIf="authService.loggedIn$ | async">
  <div class="zf-full-width">

    <!-- The toolbar specific to Stock manager -->
    <mat-toolbar  color="primary">
      <!-- The button to toggle the sidenav is disabled while an item is being edited -->
      <button mat-icon-button (click)="selector.toggle()" *ngIf="!(selectorFixed)"
              [disabled]="service.inEditMode">
        <mat-icon>menu</mat-icon>
      </button>
      Stock Manager
      <span class="fill-remaining-space"></span>
      <app-stock-menu></app-stock-menu>
    </mat-toolbar>

    <mat-sidenav-container>

      <!-- The sidenav should collapse when editing an item  or when the screen is small -->
      <mat-sidenav #selector fixedInViewport
                   fixedTopGap="120"
                   [mode]="(selectorFixed) ? 'side' : 'over'"
                   [opened]="(selectorFixed) && !(service.inEditMode)"
                   style="background: inherit; border: none">
        <app-stock-selector (selected)="!selectorFixed && selector.toggle()"></app-stock-selector>
      </mat-sidenav>

      <mat-sidenav-content style="height: 100%">
        <div class="zf-tool-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
