<div fxLayout="column" fxLayoutAlign="center" *ngIf="stock" >
  <mat-toolbar class="zf-mini-toolbar">
    <span class="zf-title">{{'Mutation & Transgene Editor for Stock ' + stock.name}}</span>
  </mat-toolbar>

  <div [fxLayout]="(appState.screenSize > ScreenSizes.SMALL) ? 'row' : 'column'" fxLayoutGap="50px">

    <!--Mutations-->
    <div fxFlex="45%" fxGrow="0" fxLayout="column">

      <!--The stock's parent's mutations -->
      <div class="zf-sub-title">Mutations From Parents</div>
      <mat-list dense>
        <mat-list-item *ngIf="parentalMutations.count === 0">
          --None--
        </mat-list-item>
        <mat-list-item *ngFor="let m of parentalMutations.items | keyvalue"
                       class="zf-list-item" style="height: fit-content">
          <mat-checkbox (change)="onCheckParentalMutation(m.value.item, m.value.selected)" mat-line
                        [(ngModel)]="m.value.selected"
                        style="padding-left: 14px; padding-right: 14px" color="primary">
            <app-mutation-mini-viewer [mutation]="m.value.item"></app-mutation-mini-viewer>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <!-- nonParental mutations -->
      <div class="zf-sub-title"
           matTooltip="These are for newly generated mutations or known mutations in external stocks.">
        Additional Mutations
      </div>
      <mat-list dense>
        <mat-list-item *ngIf="nonParentalMutations.count === 0">--None--</mat-list-item>
        <ng-container *ngFor="let mm of nonParentalMutations.items | keyvalue">
          <mat-list-item class="zf-selection-item" *ngIf="mm.value.selected" style="height: fit-content">
            <button mat-icon-button>
              <mat-icon (click)="onDeleteNonParentalMutation(mm.value.item)" color="primary">delete</mat-icon>
            </button>
            <app-mutation-mini-viewer [mutation]="mm.value.item"></app-mutation-mini-viewer>
          </mat-list-item>
        </ng-container>
      </mat-list>

      <mat-divider></mat-divider>

      <div class="zf-sub-title">Add Mutations</div>

      <mat-form-field>
        <input [formControl]="newMutationFC"
               [matAutocomplete]="autoMutation"
               matInput
               placeholder="Add a novel mutation"
               type="text">
      </mat-form-field>
      <mat-autocomplete #autoMutation="matAutocomplete">
        <mat-option *ngFor="let m of mutationOptions" [value]="m">
          <app-mutation-tiny-viewer [mutation]="m"></app-mutation-tiny-viewer>
        </mat-option>
      </mat-autocomplete>
    </div>

    <mat-divider fxHide.lt-sm vertical="true"></mat-divider>

    <!--Transgenes-->

    <div fxFlex="45%" fxGrow="0" fxLayout="column">

      <!--The stock's parent's transgenes -->
      <div class="zf-sub-title">Transgenes From Parents</div>
      <mat-list dense>
        <mat-list-item *ngIf="parentalTransgenes.count === 0">
          --None--
        </mat-list-item>
        <mat-list-item *ngFor="let m of parentalTransgenes.items | keyvalue"
                       style="height: fit-content">
          <mat-checkbox (change)="onCheckParentalTransgene(m.value.item, m.value.selected)"
                        [(ngModel)]="m.value.selected"
                        color="primary" style="padding-left: 14px; padding-right: 14px">
            <app-transgene-mini-viewer [transgene]="m.value.item" mat-line></app-transgene-mini-viewer>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <!-- nonParental transgenes -->
      <div class="zf-sub-title"
           matTooltip="These are for newly generated transgenes or known transgenes in external stocks.">
        Additional Transgenes
      </div>
      <mat-list dense>
        <mat-list-item *ngIf="nonParentalTransgenes.count === 0">--None--</mat-list-item>
        <ng-container *ngFor="let mm of nonParentalTransgenes.items | keyvalue">
          <mat-list-item *ngIf="mm.value.selected" class="zf-selection-item" style="height: fit-content">
            <button mat-icon-button>
              <mat-icon (click)="onDeleteNonParentalTransgene(mm.value.item)" color="primary">delete</mat-icon>
            </button>
            <app-transgene-mini-viewer [transgene]="mm.value.item"></app-transgene-mini-viewer>
          </mat-list-item>
        </ng-container>
      </mat-list>

      <mat-divider></mat-divider>
      <div class="zf-sub-title">Add Transgenes</div>

      <mat-form-field>
        <input [formControl]="newTransgeneFC"
               [matAutocomplete]="autoTransgene"
               matInput
               placeholder="Add a novel transgene"
               type="text">
      </mat-form-field>
      <mat-autocomplete #autoTransgene="matAutocomplete">
        <mat-option *ngFor="let m of transgeneOptions" [value]="m">
          <app-transgene-tiny-viewer [transgene]="m"></app-transgene-tiny-viewer>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div fxLayout="row">
    <div class="fill-remaining-space"></div>
    <button (click)="cancel()" color="primary" mat-button>Cancel</button>
    <button (click)="revert()" [disabled]="!ownListChanged" color="primary" mat-button>Revert</button>
    <button (click)="save()" [disabled]="!ownListChanged" color="primary" mat-button>Save</button>
  </div>
</div>
