<div fxLayout="column" fxLayoutAlign="center" *ngIf="stock" >
  <mat-toolbar class="zf-mini-toolbar">
    <span class="zf-title">{{capitalizedType + ' Editor for Stock ' + stock.name}}</span>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutGap="50px" >

    <!-- An area for the user to lookup mutations/transgenes. -->
    <div fxLayout="column" style="height: 70vh">
      <div class="zf-sub-title">{{capitalizedType}} Lookup</div>

      <mat-form-field>
        <input matInput type="text" placeholder="Search" [formControl]="filterStringFC">
        <mat-hint>Must be at least two characters</mat-hint>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-list dense class="zf-selection-list">
        <ng-container *ngFor="let mm of lookupList.items | keyvalue">
          <mat-list-item class="zf-selection-item">
            <mat-checkbox (change)="onCheckLookupItem(mm.value.item, mm.value.selected)"
                          [(ngModel)]="mm.value.selected"
                          matTooltip="{{mm.value.item.tooltip}}" matTooltipClass="ttnl"
                          color="primary">
              {{mm.value.item.fullName}}
            </mat-checkbox>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>

    <div fxLayout="column" >

      <!--The stock's parent's mutations/transgenes -->
      <div class="zf-sub-title">{{stock.name}} {{capitalizedType}}s From Parents</div>
      <mat-list dense>
        <mat-list-item *ngIf="parentalSelectionList.count === 0">
          --None--
        </mat-list-item>
        <mat-list-item *ngFor="let m of parentalSelectionList.items | keyvalue"
                       class="zf-selection-item">
          <mat-checkbox (change)="onCheckParentalItem(m.value.item, m.value.selected)"
                        [(ngModel)]="m.value.selected"
                        matTooltip="{{m.value.item.tooltip}}" matTooltipClass="ttnl"
                        style="padding-left: 14px" color="primary">
            {{m.value.item.fullName}}
          </mat-checkbox>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <!-- nonParental mutations/transgenes -->
      <div *ngIf="nonParentalSelectionList.count > 0">
        <div class="zf-sub-title">{{stock.name}} Additional {{capitalizedType}}s</div>
        <mat-list dense>
          <ng-container *ngFor="let mm of nonParentalSelectionList.items | keyvalue">
            <mat-list-item class="zf-selection-item" *ngIf="mm.value.selected"
                           matTooltip="{{mm.value.item.tooltip}}" matTooltipClass="ttnl">
              <button mat-icon-button >
                <mat-icon color="primary" (click)="onCheckNonParentalItem(mm.value.item)">delete</mat-icon>
              </button>
              {{mm.value.item.fullName}}
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row">
        <div class="fill-remaining-space"></div>
        <button mat-button color="primary" (click)="cancel()">Cancel</button>
        <button mat-button color="primary" (click)="revert()" [disabled]="!ownListChanged">Revert</button>
        <button mat-button color="primary" (click)="save()" [disabled]="!ownListChanged">Save</button>
      </div>
    </div>

  </div>

</div>
