<div mat-dialog-title>Password Change</div>
<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="mfForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Current Password" formControlName="currentPassword" >
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="New Password" formControlName="newPassword" >
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Repeat New Password" formControlName="repeatNewPassword" >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions fxLayout="row">
  <div class="fill-remaining-space"></div>
  <button mat-button (click)="onSubmit()" color="primary">Submit</button>
</div>

