<!-- The selector is quite different on the phone and on a big screen. -->

<!-- Filtered List Item
     Big Screen - mouse over shows more content about the item
     Phone - no mouse over.  So we try this.  If the user clicks
      once (touches), the item gets "pre-selected".  More info is displayed
      and a button comes up to let the user actually select the item.
      When "actually" selected, the whole selector toggles away and
      the selected item is viewed. -->


<div fxFlex fxLayout="column" class="zf-selector">

  <!-- The Filter Part -->
  <span class="zf-sub-title">Transgene Filter</span>
  <form [formGroup]="mfForm">
    <div fxLayout="column">
    <mat-form-field>
      <input matInput type="text" placeholder="Search all fields" formControlName="text">
      <button mat-button matSuffix mat-icon-button *ngIf="getFC('text').value"
              (click)="clearFormControl('text')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Sperm Freeze State" formControlName="spermFreeze">
        <mat-option [value]=null>--Any--</mat-option>
        <mat-option *ngFor="let i of service.spermFreezeOptions" [value]="i">{{i}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  </form>

  <!-- The Filtered List part -->
  <div fxFlex *ngIf="service.filteredList.length > 0">
    <span class="zf-sub-title">Filtered List</span>

     <!--When the selector is fixed in place-->
    <div *ngIf="appState.selectorFixed">
      <mat-list role="list" dense>
        <mat-list-item
          *ngFor="let item of service.filteredList"
          [class.selected]="service.selected && item.id === service.selected.id"
          class="zf-selection-item truncate" role="listitem"
          (mouseover)="onPreselect(item.id)"
          (mouseleave)="onPreselect(-1)"
          (click)="onSelect(item)">

          <div mat-line>{{item.fullName}}</div>

          <div mat-line *ngIf="item.id === focusId">
            <app-transgene-mini-viewer mat-line [transgene]="item"></app-transgene-mini-viewer>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- When the selector is toggleable (on a handset)-->
    <div *ngIf="!appState.selectorFixed">
      <mat-list role="list" dense>
        <mat-list-item
          *ngFor="let item of service.filteredList"
          [class.selected]="service.selected && item.id === service.selected.id"
          class="zf-selection-item truncate" role="listitem"
          (click)="onPreselect(item.id)">
          <button *ngIf="focusId === item.id" mat-mini-fab (click)="onSelect(item)" color="primary">
            <mat-icon>navigate_next</mat-icon>
          </button>

          <div mat-line>{{item.fullName}}</div>

          <div mat-line *ngIf="item.id === focusId">
            <app-transgene-mini-viewer mat-line [transgene]="item"></app-transgene-mini-viewer>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div *ngIf="service.filteredList.length == 0">
    <p>No transgenes match the current filter.</p>
    <p>Try relaxing the filter criteria. </p>
  </div>
</div>
