<button mat-button [matMenuTriggerFor]="stockMenu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #stockMenu="matMenu" >
  <!--  Create a new stock-->
  <button zfmHideUnauthorized="user" mat-menu-item (click)="onCreate()">
    <mat-icon>add</mat-icon>
    <span>Create Stock {{service.likelyNextStockNumber}}</span>
  </button>

  <div *ngIf="service.selected">
    <!--  Create a sub-stock of the currently selected stock -->
    <button mat-menu-item zfmHideUnauthorized="user" (click)="createSubStock()">
      <mat-icon>add</mat-icon>
      <span>Create Sub Stock {{service.selected.number}}.{{service.selected.nextSubStockNumber}}</span>
    </button>

    <!-- Edit selected stock -->
    <button mat-menu-item zfmHideUnauthorized="user" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span>Edit {{service.selected.name}}</span>
    </button>

    <!-- Delete currently selected stock -->
    <button mat-menu-item zfmHideUnauthorized="admin" (click)="onDelete()"
            [disabled]="!service.selected.isDeletable">
      <mat-icon>delete</mat-icon>
      <span>Delete {{service.selected.name}}</span>
    </button>

    <mat-divider></mat-divider>

    <!--  Print label for this stock-->
    <button (click)="printLabel()" mat-menu-item>
      <mat-icon>print</mat-icon>
      <span>Print Label</span>
    </button>

    <!--  Print a label for a cross between two stocks -->
    <button (click)="makeCrossLabel()" mat-menu-item>
      <mat-icon>print</mat-icon>
      <span>Print Cross Label</span>
    </button>
  </div>

  <button mat-menu-item (click)="goToTankWalker()"
          [disabled]="service.filteredList && service.filteredList.length < 1"
          matTooltip="Leads you through the fish facility tank order to the stocks that meet the current filter.">
    <mat-icon>assignment</mat-icon>
    <span>Stock Walker</span>
  </button>


  <!--  Download Stock Report-->
  <button zfmHideUnauthorized="user" mat-menu-item (click)="onStockReport()"
          [disabled]="service.filteredList && service.filteredList.length < 1"
          matTooltip="A spreadsheet containing stocks meeting the current filter.">
    <mat-icon>cloud_download</mat-icon>
    <span>Stock Report</span>
  </button>

  <mat-divider></mat-divider>

  <button (click)="goToBestPractices()" mat-menu-item
          matTooltip="For information on best practices.">
    <mat-icon>info</mat-icon>
    <span>Best Practices</span>
  </button>

</mat-menu>
