<button mat-button [matMenuTriggerFor]="tgMenu">
  <mat-icon>more_vert</mat-icon>
  Actions
</button>

<!--Create a new Transgene-->
<mat-menu #tgMenu="matMenu" >
  <div *ngIf="service.selected">
    <button mat-menu-item zfmHideUnauthorized="user" (click)="create()">
      <mat-icon>add</mat-icon>
      <span>Create Transgene</span>
    </button>

    <!--Create a transgene "owned" by this facility  -->
    <button (click)="createNext()" mat-menu-item zfmHideUnauthorized="user">
      <mat-icon>add</mat-icon>
      <span>Create Owned Transgene {{service.likelyNextName}}</span>
    </button>

    <!--  Edit a transgene-->
    <button mat-menu-item zfmHideUnauthorized="user" (click)="edit()">
      <mat-icon>edit</mat-icon>
      <span>Edit {{service.selected.allele}}</span>
    </button>

    <!--  Delete a Transgene-->
    <button mat-menu-item zfmHideUnauthorized="admin" (click)="delete()" [disabled]="!service.selected.isDeletable">
      <mat-icon>delete</mat-icon>
      <span>Delete {{service.selected.allele}}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item zfmHideUnauthorized="user" (click)="service.toExcel()"
            matTooltip="A spreadsheet of transgenes known in this facility.">
      <mat-icon>cloud_download</mat-icon>
      <span>Transgene Report</span>
    </button>
  </div>

  <button (click)="service.dataCleanlinessReport()" mat-menu-item
          matTooltip="So you can audit transgene data for inconsistencies."
          zfmHideUnauthorized="user">
    <mat-icon>cloud_download</mat-icon>
    <span>Transgene Data Audit</span>
  </button>

  <mat-divider></mat-divider>

  <button (click)="goToBestPractices()" mat-menu-item
          matTooltip="For information on best practices.">
    <mat-icon>info</mat-icon>
    <span>Best Practices</span>
  </button>
</mat-menu>
