<div fxLayout="column" *ngIf="service.selected">
  <div fxLayout="column">

    <!--------------- Title and menu --------------------->
    <mat-toolbar class="zf-mini-toolbar">
      <span class="zf-title">Stock {{service.selected.name}} Details</span>
      <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editStock()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-toolbar>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" >
      <div fxLayout="column" fxFlex="45" >
        <!-- Main stock information-->
        <mat-form-field>
          <input matInput placeholder="Description"
                 [value]="service.selected.description" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Allele Summary"
                 [value]="service.selected.alleleSummary" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Fertilization Date"
                 [value]="service.selected.fertilizationDate +
                 ' (' + (service.selected.fertilizationDate | dateToAge) + ' days)'"
                 disabled>
        </mat-form-field>
        <mat-form-field *ngIf="!appState.getState('hidePI') && service.selected.pi">
          <input matInput placeholder="Primary Investigator"
                 [value]="service.selected.pi" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="service.selected.researcher">
          <input matInput placeholder="Researcher"
                 [value]="service.selected.researcher" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="service.selected.comment">
        <textarea matInput placeholder="Comment"
                  [value]="service.selected.comment"
                  cdkTextareaAutosize="true" cdkAutosizeMaxRows="7" disabled></textarea>
        </mat-form-field>

        <!-- Mom   -->
        <div *ngIf="service.selected.matStock">
          <div class="zf-sub-title">Mom (Internal)</div>
          <mat-list dense>
            <mat-list-item class="zf-list-item" style="height: fit-content">
              <app-stock-mini-viewer [stock]="service.selected.matStock" mat-line
                                     (click)="goTo(service.selected.matStock.id)">
              </app-stock-mini-viewer>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="!service.selected.matStock">
          <div class="zf-sub-title">Mom (External)</div>
          <mat-list dense>
            <mat-list-item style="height: fit-content">
              <span *ngIf="!service.selected.externalMatId">{{service.selected.externalMatId}} </span>
              <span *ngIf="service.selected.externalMatDescription">{{service.selected.externalMatDescription}}</span>
            </mat-list-item>
          </mat-list>
        </div>

        <!-- Dad   -->
        <div *ngIf="service.selected.patStock">
          <div class="zf-sub-title">Dad (Internal)</div>
          <mat-list dense>
            <mat-list-item class="zf-list-item" style="height: fit-content">
              <app-stock-mini-viewer [stock]="service.selected.patStock" mat-line
                                     (click)="goTo(service.selected.patStock.id)">
              </app-stock-mini-viewer>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="!service.selected.patStock">
          <div class="zf-sub-title">Dad (External)</div>
          <mat-list dense>
            <mat-list-item style="height: fit-content">
              <span *ngIf="!service.selected.externalPatId">Id: {{service.selected.externalPatId}}</span>
              <span *ngIf="service.selected.externalPatDescription">Desc: {{service.selected.externalPatDescription}}</span>
            </mat-list-item>
          </mat-list>
        </div>

        <!-- Offspring   -->
        <span class="zf-sub-title">Offspring</span>
        <mat-list *ngIf="service.selected.offspringCount < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>
        <mat-list *ngIf="service.selected.offspringCount > 0" dense>
          <mat-list-item *ngFor="let kid of service.selected.offspring" class="zf-selection-item zf-list-item"
                         mat-line role="listitem"
                         (click)="goTo(kid.id)">
            <app-stock-mini-viewer [stock]="kid" mat-line></app-stock-mini-viewer>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-divider vertical="true" fxHide.lt-sm></mat-divider>

      <div fxFlex=45 fxLayout="column" fxLayoutGap="10px">

        <!-- Information about mutations -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span class="zf-sub-title">Mutations</span>
          <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editMutations()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-list *ngIf="service.selected.mutations.length > 0" dense>
          <mat-list-item *ngFor="let m of service.selected.mutations"
                         class=zf-list-item role="listitem" style="height: fit-content">
            <app-mutation-mini-viewer mat-line [mutation]="m"></app-mutation-mini-viewer>
          </mat-list-item>
        </mat-list>
        <mat-list *ngIf="service.selected.mutations.length < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <!-- Information about transgenes -->

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span class="zf-sub-title">Transgenes</span>
          <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editTransgenes()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <!-- No Transgenes -->
        <mat-list *ngIf="service.selected.transgenes.length < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>

        <!-- List Transgenes -->
        <mat-list *ngIf="service.selected.transgenes.length > 0" dense>
          <mat-list-item *ngFor="let t of service.selected.transgenes" style="height: fit-content"
                         class=zf-list-item role="listitem">
            <app-transgene-mini-viewer mat-line [transgene]="t"></app-transgene-mini-viewer>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <!-- Information about swimmers -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span class="zf-sub-title">Swimmers</span>
          <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editSwimmers()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-list *ngIf="service.selected.swimmers && service.selected.swimmers.length > 0" dense>
          <mat-list-item *ngFor="let t of service.selected.swimmers">
            {{t.tank.name}}: {{t.number}} fish
            <button mat-icon-button (click)="printLabel(t.tank.id)">
              <mat-icon>print</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <mat-list *ngIf="service.selected.swimmers.length < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>

      </div>
    </div>
  </div>
</div>
