<div fxLayout="column" *ngIf="service.selected">
  <div fxLayout="column">

    <!--------------- Title and menu --------------------->
    <mat-toolbar class="zf-mini-toolbar">
      <span class="zf-title">Stock {{service.selected.name}} Details</span>
      <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editStock()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-toolbar>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" >
      <div fxLayout="column" fxFlex="45" >
        <!-- Main stock information-->
        <mat-form-field>
          <input matInput placeholder="Description"
                 [value]="service.selected.description" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Fertilization Date"
                 [value]="service.selected.fertilizationDate + ' (' + service.selected.age() + ' days)'" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="!appState.getState('hidePI') && service.selected.pi">
          <input matInput placeholder="Primary Investigator"
                 [value]="service.selected.pi" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="service.selected.researcher">
          <input matInput placeholder="Researcher"
                 [value]="service.selected.researcher" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="service.selected.comment">
        <textarea matInput placeholder="Comment"
                  [value]="service.selected.comment"
                  cdkTextareaAutosize="true" cdkAutosizeMaxRows="7" disabled></textarea>
        </mat-form-field>

        <!-- Mom   -->
        <span class="zf-sub-title">Mom
          <button *ngIf="service.selected.matStock" mat-button color="primary"
                  matTooltip="{{service.selected.matStock.tooltip}}" matTooltipClass="ttnl"
                  (click)="goTo(service.selected.matStock.id)">{{service.selected.matStock.name}}</button>
        </span>
        <mat-form-field *ngIf="service.selected.matStock">
          <input matInput placeholder="Description"
                 [value]="service.selected.matStock.description" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="!service.selected.matStock">
          <textarea matInput placeholder="External Mother Description"
                    cdkTextareaAutosize="true"
                    [value]="service.selected.externalMatDescription" disabled>
          </textarea>
        </mat-form-field>

        <!-- Dad   -->
        <span class="zf-sub-title">Dad
          <button *ngIf="service.selected.patStock" mat-button color="primary"
                  matTooltip="{{service.selected.patStock.tooltip}}" matTooltipClass="ttnl"
                  (click)="goTo(service.selected.patStock.id)">{{service.selected.patStock.name}}</button>
        </span>
        <mat-form-field *ngIf="service.selected.patStock">
          <input matInput placeholder="Description"
                 [value]="service.selected.patStock.description" disabled>
        </mat-form-field>
        <mat-form-field  *ngIf="!service.selected.patStock">
          <textarea matInput placeholder="External Father Description"
                    cdkTextareaAutosize="true"
                    [value]="service.selected.externalPatDescription" disabled>
          </textarea>
        </mat-form-field>

        <!-- Offspring   -->
        <span class="zf-sub-title">Offspring</span>
        <mat-list *ngIf="service.selected.offspringCount < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>
        <mat-list *ngIf="service.selected.offspringCount > 0" dense>
          <mat-list-item *ngFor="let kid of service.selected.offspring" style="height: 30px"
                         matTooltip="{{kid.tooltip}}" matTooltipClass="ttnl">
            <button mat-button color="primary" (click)="goTo(kid.id)">{{kid.name}}</button>
            <span>{{kid.description}}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-divider vertical="true" fxHide.lt-sm></mat-divider>

      <div fxFlex=45 fxLayout="column" fxLayoutGap="10px">

        <!-- Information about mutations -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span class="zf-sub-title">Mutations</span>
          <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editMutations()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-list *ngIf="service.selected.mutations.length > 0" dense>
          <mat-list-item *ngFor="let m of service.selected.mutations"
                         matTooltip="{{m.tooltip}}" matTooltipClass="ttnl"
                         style="height: 30px">
            {{m.fullName}}
          </mat-list-item>
        </mat-list>
        <mat-list *ngIf="service.selected.mutations.length < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <!-- Information about transgenes -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span class="zf-sub-title">Transgenes</span>
          <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editTransgenes()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-list *ngIf="service.selected.transgenes.length > 0" dense>
          <mat-list-item *ngFor="let t of service.selected.transgenes"
                         matTooltip="{{t.tooltip}}" matTooltipClass="ttnl"
                         style="height: 30px">
            {{t.fullName}}
          </mat-list-item>
        </mat-list>
        <mat-list *ngIf="service.selected.transgenes.length < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <!-- Information about swimmers -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span class="zf-sub-title">Swimmers</span>
          <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="editSwimmers()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <mat-list *ngIf="service.selected.swimmers && service.selected.swimmers.length > 0" dense>
          <mat-list-item *ngFor="let t of service.selected.swimmers">
            {{t.tank.name}}: {{t.number}} fish
            <button mat-icon-button (click)="printLabel(t.tank.id)">
              <mat-icon>print</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <mat-list *ngIf="service.selected.swimmers.length < 1" dense>
          <mat-list-item>None</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
