<div fxFlex class="zf-full-width" *ngIf="service.selected">
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" >
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item color="primary" (click)="edit()">
        <mat-icon>edit</mat-icon>
        <span>Edit {{user.email}}</span>
      </button>
      <button (click)="create()" mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Create User</span>
      </button>
      <button (click)="service.activate(user)" [disabled]="user.isActive" mat-menu-item>
        <mat-icon></mat-icon>
        <span>Activate {{user.email}}</span>
      </button>
      <button (click)="service.deactivate(user)" [disabled]="!user.isActive || user.id === appState.loggedInUserId()"
              mat-menu-item>
        <mat-icon></mat-icon>
        <span>Deactivate {{user.email}}</span>
      </button>
      <button (click)="service.forceLogout(user)" [disabled]="!user.isLoggedIn" mat-menu-item>
        <mat-icon></mat-icon>
        <span>Force logout </span>
      </button>
      <button (click)="delete(service.selected.id)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete {{service.selected.email}}</span>
      </button>
    </mat-menu>
    <span class="zf-title">User Details</span>
    <button mat-icon-button color="primary" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <form fxLayout="column" [formGroup]="mfForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.name">
      <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field >
      <input matInput type="email" placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.phone">
      <input matInput type="text" placeholder="Phone" formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Role" formControlName="role">
    </mat-form-field>

    <mat-checkbox formControlName="isActive" color="primary">Activated</mat-checkbox>
    <mat-checkbox color="primary" formControlName="isLoggedIn">Currently Logged In</mat-checkbox>
    <mat-checkbox formControlName="passwordChangeRequired" color="primary">Requires password change</mat-checkbox>
    <div fxLayout="row" fxLayoutAlign="end">
      <button (click)="service.activate(user)" [disabled]="user.isActive" color="primary"
              mat-button>Activate
      </button>
      <button (click)="service.deactivate(user)" [disabled]="!user.isActive || user.id === appState.loggedInUserId()"
              color="primary"
              mat-button>Deactivate
      </button>
      <button (click)="service.forceLogout(user)" [disabled]="!user.isLoggedIn" color="primary"
              mat-button>Force Logout
      </button>
    </div>
  </form>
</div>
