<!--Main Toolbar-->
<div class="app-top-bar toolbar-bg" fxLayout="row" fxLayoutAlign="center">
  <div class="zf-full-width">

    <!-- For anything bigger than a tablet we spread out the main choices -->
    <div *ngIf="appState.screenSize >= ScreenSizes.LARGE">
      <mat-toolbar *ngIf="authService.loggedIn$ | async" fxLayoutGap="10px">
        <span>Zebrafish Facility Manager for {{appState.facilityConfig.facilityName}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-button [disabled]="appState.activeTool === zfTool.STOCK_MANAGER"
                [routerLink]="zfTool.STOCK_MANAGER.route" color="primary">
          {{zfTool.STOCK_MANAGER.display_name}}
        </button>
        <button mat-button [disabled]="appState.activeTool === zfTool.MUTATION_MANAGER"
                [routerLink]="zfTool.MUTATION_MANAGER.route" color="primary">
          {{zfTool.MUTATION_MANAGER.display_name}}
        </button>
        <button mat-button [disabled]="appState.activeTool === zfTool.TRANSGENE_MANAGER"
                [routerLink]="zfTool.TRANSGENE_MANAGER.route" color="primary">
          {{zfTool.TRANSGENE_MANAGER.display_name}}
        </button>
        <button mat-button [matMenuTriggerFor]="moreMenu" color="primary">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item zfmHideUnauthorized="admin"
                  [disabled]="appState.activeTool === zfTool.FACILITY_AUDIT"
                  [routerLink]="zfTool.FACILITY_AUDIT.route" color="primary">
            <mat-icon>assignment</mat-icon>
            {{zfTool.FACILITY_AUDIT.display_name}}
          </button>
          <button mat-menu-item zfmHideUnauthorized="admin"
                  [disabled]="appState.activeTool === zfTool.USER_MANAGER"
                  [routerLink]="zfTool.USER_MANAGER.route" color="primary">
            <mat-icon>people</mat-icon>
            {{zfTool.USER_MANAGER.display_name}}
          </button>
          <button mat-menu-item *ngIf="!appState.facilityConfig.hideImportTool" zfmHideUnauthorized="admin"
                  [disabled]="appState.activeTool === zfTool.IMPORT_TOOL"
                  [routerLink]="zfTool.IMPORT_TOOL.route" color="primary">
            <mat-icon>file_upload</mat-icon>
            {{zfTool.IMPORT_TOOL.display_name}}
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item *ngIf="authService.loggedIn$ | async"
                  routerLink="change_password" color="primary">
            <mat-icon>password</mat-icon>
            Change Password
          </button>
          <button mat-menu-item (click)="logout()"
                  [matTooltip]="authService.getLoggedInUserName()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </mat-toolbar>
      <mat-toolbar *ngIf="!(authService.loggedIn$ | async)">
        <span>Zebrafish Facility Manager for {{appState.facilityConfig.facilityName}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-button (click)="login()">Login</button>
      </mat-toolbar>
    </div>

    <!-- For small screens, we abbreviate what we can and put the main options in a menu -->
    <div *ngIf="appState.screenSize < ScreenSizes.LARGE">
      <mat-toolbar *ngIf="authService.loggedIn$ | async" fxLayoutGap="10px">
        <span>ZFM for {{appState.facilityConfig.facilityAbbrv}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-button [matMenuTriggerFor]="toolMenu" color="primary">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #toolMenu="matMenu">
          <button mat-menu-item [disabled]="appState.activeTool === zfTool.STOCK_MANAGER"
                  [routerLink]="zfTool.STOCK_MANAGER.route">
            <mat-icon>launch</mat-icon>
            {{zfTool.STOCK_MANAGER.display_name}}
          </button>
          <button mat-menu-item [disabled]="appState.activeTool === zfTool.MUTATION_MANAGER"
                  [routerLink]="zfTool.MUTATION_MANAGER.route">
            <mat-icon>launch</mat-icon>
            {{zfTool.MUTATION_MANAGER.display_name}}
          </button>
          <button mat-menu-item [disabled]="appState.activeTool === zfTool.TRANSGENE_MANAGER"
                  [routerLink]="zfTool.TRANSGENE_MANAGER.route">
            <mat-icon>launch</mat-icon>
            {{zfTool.TRANSGENE_MANAGER.display_name}}
          </button>
          <button mat-menu-item zfmHideUnauthorized="admin"
                  [disabled]="appState.activeTool === zfTool.FACILITY_AUDIT"
                  [routerLink]="zfTool.FACILITY_AUDIT.route" color="primary">
            <mat-icon>assignment</mat-icon>
            {{zfTool.FACILITY_AUDIT.display_name}}
          </button>
          <button mat-menu-item zfmHideUnauthorized="admin" [disabled]="appState.activeTool === zfTool.USER_MANAGER"
                  [routerLink]="zfTool.USER_MANAGER.route" color="primary">
            <mat-icon>people</mat-icon>
            {{zfTool.USER_MANAGER.display_name}}
          </button>
          <button mat-menu-item zfmHideUnauthorized="admin" [disabled]="appState.activeTool === zfTool.IMPORT_TOOL"
                  [routerLink]="zfTool.IMPORT_TOOL.route" color="primary">
            <mat-icon>upload</mat-icon>
            {{zfTool.IMPORT_TOOL.display_name}}
          </button>
          <button (click)="goToBestPractices()" mat-menu-item
                  matTooltip="For information on best practices.">
            <mat-icon>info</mat-icon>
            Best Practices
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="change_password" color="primary">
            <mat-icon>password</mat-icon>
            Change Password
          </button>
          <button mat-menu-item (click)="logout()"
                  [matTooltip]="authService.getLoggedInUserName()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </mat-toolbar>
      <mat-toolbar *ngIf="!(authService.loggedIn$ | async)">
        <span>Facility Manager for {{appState.facilityConfig.facilityAbbrv}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-button (click)="login()">Login</button>
      </mat-toolbar>
    </div>
  </div>
</div>
