<div fxFlex class="zf-full-width" *ngIf="service.selected">
  <div class="zf-title">Edit User {{getFC('username').value}}</div>
  <form (ngSubmit)="save()" [formGroup]="mfForm" fxLayout="column">
    <div fxFlex="20px"></div>

    <mat-form-field>
      <input formControlName="username" matInput placeholder="Username" required type="text">
      <mat-error *ngIf="getFC('email').invalid">{{usernameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email" required type="email">
      <mat-error *ngIf="getFC('email').invalid">{{emailErrorMessage()}}</mat-error>
    </mat-form-field>


    <mat-form-field *ngIf="service.selected.phone">
      <input matInput type="text" placeholder="Phone" formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Role" formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <div class="fill-remaining-space"></div>
      <button (click)="cancel()" color="primary" mat-button>Cancel</button>
      <button (click)="revert()" [disabled]='mfForm.pristine' color="primary" mat-button>Revert</button>
      <button [disabled]='!mfForm.valid || mfForm.pristine' color="primary" mat-button type="submit">Save</button>
    </div>
  </form>
</div>
