<div mat-dialog-title>Zebrafish Facility Manager Login</div>
<div mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field>
      <input matInput name="username"  type="text" placeholder="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" type="text"  placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions fxLayout="row">
  <div class="fill-remaining-space"></div>
  <button mat-button (click)="onCancel()" color="primary">Cancel</button>
  <button mat-button (click)="onSubmit()" color="primary">Submit</button>
</div>
