<div fxLayout="column" class="zf-selector">

  <!-- The Filter Part -->

  <form [formGroup]="mfForm">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-checkbox  formControlName="liveStocksOnly" color="primary">
        Live Stocks Only
      </mat-checkbox>
      <button mat-button (click)="onClearFilters()" color="primary">
        Clear Filters
      </button>
    </div>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="50%">
        <!-- First group of filter fields -->
        <mat-form-field>
          <label>
            <input formControlName="number" matInput placeholder="Stock Number" type="text">
          </label>
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('number').value"
                  (click)="clearFormControl('number')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input [matAutocomplete]="autoResearcher" formControlName="researcher" matInput placeholder="Researcher"
                   type="text">
          </label>
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('researcher').value"
                  (click)="clearFormControl('researcher')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="tankName" matInput placeholder="Tank Name" type="text">
          </label>
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('tankName').value"
                  (click)="clearFormControl('tankName')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Second group of filter fields -->
      <div fxLayout="column" fxFlex="50%">

        <mat-form-field>
          <label>
            <input formControlName="text" matInput placeholder="Search Text" type="text">
          </label>
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('text').value"
                  (click)="clearFormControl('text')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="age" matInput min="0" placeholder="Age (in days)"
                   step="20" type="number">
          </label>
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('age').value"
                  (click)="clearFormControl('age')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field *ngIf="getFC('age').value > 0">
          <mat-select placeholder="Type" formControlName="ageModifier">
            <mat-option value="or_older">Or older</mat-option>
            <mat-option value="or_younger">Or younger</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field>
        <label>
          <input [formControl]="mutationFilterFC" [matAutocomplete]="autoMutation" [value]="(mutationFilterFC.value) ?
                     (mutationFilterFC.value.fullName) ?
                        mutationFilterFC.value.fullName : mutationFilterFC.value : ''" matInput
                 placeholder="Mutation"
                 type="text">
        </label>
        <button mat-button matSuffix mat-icon-button
                (click)="clearMutationFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input [formControl]="transgeneFilterFC" [matAutocomplete]="autoTransgene" [value]="(transgeneFilterFC.value) ?
                     (transgeneFilterFC.value.fullName) ?
                        transgeneFilterFC.value.fullName : transgeneFilterFC.value : ''" matInput
                 placeholder="Transgene"
                 type="text">
        </label>
        <button mat-button matSuffix mat-icon-button
                (click)="clearTransgeneFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
  <mat-divider></mat-divider>

  <!-- The Filtered List part -->
  <div class="zf-sub-title">Filtered List</div>
  <app-zf-selector-list
    (itemSelected)="onSelect($event)"
    [list]="service.filteredList"
    [service]="service"
    emptyMessage="No matches. Try relaxing the filter.">
  </app-zf-selector-list>
</div>


<!-- Auto completes sent down here for easier reading of code-->
<mat-autocomplete #autoResearcher="matAutocomplete">
  <mat-option *ngFor="let option of filteredResearcherOptions | async" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #autoMutation="matAutocomplete">
  <mat-option *ngFor="let option of filteredMutationOptions" [value]="option">
    <div>{{option.fullName}}</div>
    <div class="option-detail" *ngIf="option.comment">
      {{option.comment}}
    </div>
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #autoTransgene="matAutocomplete">
  <mat-option *ngFor="let option of filteredTransgeneOptions" [value]="option">
    <div>{{option.fullName}}</div>
    <div class="option-detail">
      <span *ngIf="option.plasmid">plasmid: {{option.plasmid}}</span>
      <span *ngIf="option.comment">{{option.comment}}</span>

    </div>
  </mat-option>
</mat-autocomplete>
