<div fxLayout="column" class="zf-selector">

  <!-- The Filter Part -->
  <form [formGroup]="mfForm">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-checkbox  formControlName="liveStocksOnly" color="primary">
        Live Stocks Only
      </mat-checkbox>
      <button mat-button (click)="onClearFilters()" color="primary">
        Clear Filters
      </button>
    </div>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="50%">
        <!-- First group of filter fields -->
        <mat-form-field>
          <input matInput type="text" placeholder="Stock Number" formControlName="number">
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('number').value"
                  (click)="clearFormControl('number')"><mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field >
          <input matInput type="text" placeholder="Researcher" formControlName="researcher" [matAutocomplete]="autoResearcher">
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('researcher').value"
                  (click)="clearFormControl('researcher')"><mat-icon>close</mat-icon></button>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Search Text" formControlName="text">
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('text').value"
                  (click)="clearFormControl('text')"><mat-icon>close</mat-icon></button>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Tank Name" formControlName="tankName">
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('tankName').value"
                  (click)="clearFormControl('tankName')"><mat-icon>close</mat-icon></button>
        </mat-form-field>
      </div>

      <!-- Second group of filter fields -->
      <div fxLayout="column" fxFlex="50%">
        <mat-form-field>
          <input matInput type="text" placeholder="Mutation" formControlName="mutation">
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('mutation').value"
                  (click)="clearFormControl('mutation')"><mat-icon>close</mat-icon></button>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Transgene" formControlName="transgene">
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('transgene').value"
                  (click)="clearFormControl('transgene')"><mat-icon>close</mat-icon></button>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Age (in days)" formControlName="age"
                 min="0" step="20">
          <button mat-button matSuffix mat-icon-button *ngIf="getFC('age').value"
                  (click)="clearFormControl('age')"><mat-icon>close</mat-icon></button>
        </mat-form-field>

        <mat-form-field *ngIf="getFC('age').value > 0">
          <mat-select placeholder="Type" formControlName="ageModifier">
            <mat-option value="or_older">Or older</mat-option>
            <mat-option value="or_younger">Or younger</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <mat-divider></mat-divider>

  <!-- The Filtered List part -->
  <div *ngIf="service.filteredList.length > 0" >
    <span class="zf-sub-title">Filtered List</span>

    <!--When the selector is fixed in place-->
    <div *ngIf="appState.selectorFixed">
      <mat-list role="list" dense>
        <mat-list-item
          *ngFor="let stock of service.filteredList"
          [class.selected]="service.selected && stock.id === service.selected.id"
          class="zf-selection-item truncate" role="listitem"
          (mouseover)="onPreselect(stock.id)"
          (mouseleave)="onPreselect(-1)"
          (click)="onSelect(stock)">

          <div mat-line>{{stock.name}} {{stock.description}}</div>

          <div mat-line *ngIf="stock.id === focusId">
            <app-stock-mini-viewer [stock]="stock" mat-line></app-stock-mini-viewer>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- When the selector is toggleable (on a handset)-->
    <div *ngIf="!appState.selectorFixed">
      <mat-list role="list" dense>
        <mat-list-item
          *ngFor="let stock of service.filteredList"
          [class.selected]="service.selected && stock.id === service.selected.id"
          class="zf-selection-item truncate" role="listitem"
          (click)="onPreselect(stock.id)">
          <button *ngIf="focusId === stock.id" mat-mini-fab (click)="onSelect(stock)" color="primary">
            <mat-icon>navigate_next</mat-icon>
          </button>

          <div mat-line>{{stock.name}} {{stock.description}}</div>

          <div mat-line *ngIf="stock.id === focusId">
            <app-stock-mini-viewer [stock]="stock" mat-line></app-stock-mini-viewer>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

  </div>
  <div *ngIf="service.filteredList.length == 0">
    <p>No stocks match the current filter,</p>
    <p>try relaxing the filter criteria. </p>
  </div>
</div>


<!-- Auto completes sent down here for easier reading of code-->
<mat-autocomplete #autoResearcher="matAutocomplete">
  <mat-option *ngFor="let option of filteredResearcherOptions | async" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>
