<div fxFlex *ngIf="service.selected">
  <div fxLayout="column">

  <mat-toolbar class="zf-mini-toolbar">
    <span class="zf-title">Transgene Details</span>
    <button mat-icon-button zfmHideUnauthorized="user" color="primary" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>


  <form fxLayout="column" [formGroup]="mfForm">
    <mat-form-field *ngIf="service.selected.allele">
      <input matInput type="text"  placeholder="Allele" formControlName="allele">
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.descriptor">
      <input matInput type="text" placeholder="Descriptor" formControlName="descriptor">
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.nickname">
      <input matInput type="text" placeholder="NickName" formControlName="nickname">
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.plasmid">
      <input matInput type="text" placeholder="Plasmid" formControlName="plasmid">
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.source">
      <input matInput type="text" placeholder="Source" formControlName="source">
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.comment">
      <textarea matInput placeholder="Comment" formControlName="comment"
                cdkTextareaAutosize="true"  cdkAutosizeMaxRows="7">
      </textarea>
    </mat-form-field>
  </form>
  </div>
</div>
