<div fxLayout="row" fxLayoutAlign="center" *ngIf="authService.loggedIn$ | async">
  <div class="zf-full-width">

    <!-- The toolbar specific to Transgene manager -->
    <mat-toolbar  color="primary">
      <!-- The button to toggle the sidenav is disabled while an item is being edited -->
      <button mat-icon-button (click)="selector.toggle()" *ngIf="!(appState.selectorFixed)"
              [disabled]="service.inEditMode">
        <mat-icon>menu</mat-icon>
      </button>
      Transgene Manager
      <span class="fill-remaining-space"></span>
      <app-transgene-menu></app-transgene-menu>
    </mat-toolbar>

    <mat-sidenav-container>

      <!-- The sidenav should collapse when editing an item  or when the screen is small -->
      <mat-sidenav #selector fixedInViewport
                   [disableClose]="true"
                   [class.zf-fixed-sidenav]="appState.selectorFixed"
                   [class.zf-togglable-sidenav]="!appState.selectorFixed"
                   fixedTopGap="120"
                   [mode]="(appState.selectorFixed) ? 'side' : 'over'"
                   [opened]="(appState.selectorFixed) && !(service.inEditMode)"
                   style="background: inherit; border: none">

        <!-- When the selector is in toggle mode (small screen) and -->
        <!-- the user selects something, toggle the selector closed. -->
        <app-transgene-selector (selected)="!appState.selectorFixed && selector.toggle()"></app-transgene-selector>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="zf-tool-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
