<div fxLayout="row" fxLayoutAlign="center" *ngIf="appState.loggedIn$ | async">
  <div class="zf-full-width">

    <!-- The toolbar specific to Transgene manager -->
    <mat-toolbar  color="primary">
      <!-- The button to toggle the sidenav is disabled while an item is being edited -->
      <button mat-icon-button (click)="selector.toggle()" *ngIf="!(selectorFixed$ | async)"
              [disabled]="service.inEditMode$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      Transgene Manager {{(service.inEditMode$ | async) ? 'Edit Mode' : 'Browse Mode'}}
      <span class="fill-remaining-space"></span>
      <app-transgene-menu></app-transgene-menu>
    </mat-toolbar>

    <mat-sidenav-container>

      <!-- The sidenav should collapse when editing an item  or when the screen is small -->
      <mat-sidenav #selector fixedInViewport
                   fixedTopGap="120"
                   [mode]="(selectorFixed$ | async) ? 'side' : 'over'"
                   [opened]="(selectorFixed$ | async) && !(service.inEditMode$ | async)"
                   style="background: inherit; border: none">
        <app-transgene-selector></app-transgene-selector>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="zf-tool-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
