<div fxLayout="column" *ngIf="item">

  <mat-toolbar class="zf-mini-toolbar">
    <span class="zf-title">Transgene Editor</span>
  </mat-toolbar>

  <form [formGroup]="mfForm">

    <div fxLayout="column">
      <mat-form-field>
        <input required matInput type="text" placeholder="Construct" formControlName="descriptor"
               maxlength="50">
        <mat-error *ngIf="!mfForm.valid">{{getUniquenessError()}}</mat-error>
      </mat-form-field>

      <mat-form-field >
        <input required matInput type="text" placeholder="Genomic feature name" formControlName="allele"
               maxlength="20">
        <mat-error *ngIf="!mfForm.valid">{{getUniquenessError()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Nickname" formControlName="nickname"
               maxlength="30">
        <mat-error *ngIf="nicknameControl.touched && nicknameControl.invalid">{{getNicknameError()}}</mat-error>
        <mat-hint>Used for printing compact labels</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Plasmid" formControlName="plasmid"
               (emptied)="clearFormControl('plasmid')"
               maxlength="250">
      </mat-form-field>

      <mat-form-field >
        <input matInput type="text" placeholder="Source" formControlName="source"
                [matAutocomplete]="autoSource"
               maxlength="40">
        <button mat-button matSuffix mat-icon-button *ngIf="getFC('source').value"
                (click)="clearFormControl('source')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Sperm Freeze Plan" formControlName="spermFreezePlan">
          <mat-option [value]=null>--Any--</mat-option>
          <mat-option *ngFor="let i of service.spermFreezeOptions" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <input matInput type="number" placeholder="Vials Frozen" formControlName="vialsFrozen"
               min="0">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Comment" formControlName="comment"
                  maxlength="3000" cdkTextareaAutosize="true"  cdkAutosizeMaxRows="7">
        </textarea>
      </mat-form-field>

    </div>
  </form>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="fill-remaining-space"></div>
    <button mat-button color="primary" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" [disabled]='mfForm.pristine' (click)="revert()">Revert</button>
    <button mat-button type="submit" color="primary" [disabled]='!mfForm.valid || mfForm.pristine'
            (click)="save()">Save</button>
  </div>
</div>

<!-- All the auto-completes gathered together to make the form easier to read. -->
<mat-autocomplete #autoSource="matAutocomplete">
  <mat-option *ngFor="let option of filteredSourceOptions| async" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>
