<div fxLayout="column" *ngIf="service.selected">
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" >
    <span class="zf-title">User Details</span>
    <button mat-icon-button color="primary" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <form fxLayout="column" [formGroup]="mfForm">
    <mat-form-field>
      <label>
        <input formControlName="username" matInput placeholder="Username" type="text">
      </label>
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.name">
      <label>
        <input formControlName="name" matInput placeholder="Name" type="text">
      </label>
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.initials">
      <label>
        <input formControlName="initials" matInput placeholder="Preferred Initials" type="text">
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input formControlName="email" matInput placeholder="Email" type="email">
      </label>
    </mat-form-field>

    <mat-form-field *ngIf="service.selected.phone">
      <label>
        <input formControlName="phone" matInput placeholder="Phone" type="text">
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input formControlName="role" matInput placeholder="Role" type="text">
      </label>
    </mat-form-field>

    <mat-checkbox *ngIf="!appState.facilityConfig.hidePI"
                  color="primary" formControlName="isPrimaryInvestigator">Primary Investigator
    </mat-checkbox>
    <mat-checkbox formControlName="isResearcher" color="primary">Researcher</mat-checkbox>
    <mat-checkbox formControlName="isActive" color="primary">Activated</mat-checkbox>
    <mat-checkbox color="primary" formControlName="isLoggedIn">Currently Logged In</mat-checkbox>
    <mat-checkbox formControlName="passwordChangeRequired" color="primary">Requires password change</mat-checkbox>
    <div fxLayout="row" fxLayoutAlign="end">
      <button (click)="service.activate(user)" [disabled]="user.isActive" color="primary"
              mat-button>Activate
      </button>
      <button (click)="service.deactivate(user)" [disabled]="!user.isActive || user.id === authService.loggedInUserId()"
              color="primary"
              mat-button>Deactivate
      </button>
      <button (click)="service.forceLogout(user)" [disabled]="!user.isLoggedIn" color="primary"
              mat-button>Force Logout
      </button>
    </div>
  </form>
</div>
