.tank-label {
  background-color: lightgray;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  page-break-after: always;
}
.text-part {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

