<form #crossEditForm="ngForm">
  <div fxLayout="column">

    <!--------------- Title and menu --------------------->
    <mat-toolbar class="zf-mini-toolbar">Create a Cross Label</mat-toolbar>


    <!-- Researcher -->
    <mat-form-field>
      <mat-select (ngModelChange)="onSelectResearcher()" [(ngModel)]="researcherId" name="researcherId"
                  placeholder="Researcher"
                  required>
        <mat-option [value]=null>--None--</mat-option>
        <mat-option *ngFor="let option of researchers" [value]="option.id">
          <div>{{option.name}}</div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Date String -->
    <mat-form-field>
      <label>
        <input [(ngModel)]="crossLabel.dateString" matInput name="dateString"
               placeholder="Date String for your label" type="text">
      </label>
    </mat-form-field>

    <!--  Mother --------------------------------------->
    <mat-form-field>
      <label>
        <input #matStockNameF="ngModel" (keyup)="onSetMatStock()"
               [(ngModel)]="crossLabel.momName" matInput name="matStockNameF"
               placeholder="Mom stock number" required stockNameCheck>
      </label>
      <mat-error *ngIf="matStockNameF.errors">Stock name does not exist</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input [(ngModel)]="crossLabel.momLabelDescription" matInput name="msd"
               placeholder="Mom description" required type="text">
      </label>
    </mat-form-field>
    <mat-form-field *ngIf="momFull && momFull.swimmers.length > 0">
      <mat-select [(ngModel)]="crossLabel.momTank" name="momTank" placeholder="Mom from tank...">
        <mat-option [value]=null>--None--</mat-option>
        <mat-option *ngFor="let option of momFull.swimmers" [value]="option.tank.name">
          <div>{{option.tank.name}}</div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--  Father --------------------------------------->
    <mat-form-field>
      <label>
        <input #patStockNameF="ngModel" (keyup)="onSetPatStock()"
               [(ngModel)]="crossLabel.dadName" matInput name="patStockNameF"
               placeholder="Dad stock number" required stockNameCheck>
      </label>
      <mat-error *ngIf="patStockNameF.errors">Stock name does not exist</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="dad">
      <label>
        <input [(ngModel)]="crossLabel.dadLabelDescription" matInput
               name="psd" placeholder="Dad description for Label" required>
      </label>
    </mat-form-field>
    <mat-form-field *ngIf="dadFull && dadFull.swimmers.length > 0">
      <mat-select [(ngModel)]="crossLabel.dadTank" name="dadTank" placeholder="Dad from tank...">
        <mat-option [value]=null>--None--</mat-option>
        <mat-option *ngFor="let option of dadFull.swimmers" [value]="option.tank.name">
          <div>{{option.tank.name}}</div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Label Note -->
    <mat-form-field>
      <label>
        <input [(ngModel)]="crossLabel.note" matInput name="note"
               placeholder="Additional notes for label" type="text">
      </label>
    </mat-form-field>

    <!--Half-assed simulation of what the label might look like...-->
    <div class="zf-mini-title">Label mock-up</div>
    <div fxLayoutAlign="center center" fxLayoutGap="10px" fxlayout="row">
      <div fxLayout="column" fxLayoutAlign="center center">
        <button (click)="changeFontSize(1)" aria-label="Increase font size" color="primary" mat-icon-button>
          <mat-icon>arrow_drop_up</mat-icon>
        </button>
        <div>{{crossLabel.fontSize}}pt</div>
        <button (click)="changeFontSize(-1)" aria-label="Decrease font size" color="primary" mat-icon-button>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
      <div class="zf-label" fxLayout="row">
        <!-- The next line prevents the label from being cut off on the left.
           This just screams that I have no idea what I am doing. -->
        <div fxFlex="2%"></div>

        <div
          [ngStyle]="{ 'font-size.pt': crossLabel.fontSize, 'font-family': crossLabel.fontFamily, 'width.in': labelWidth, 'height.in': labelHeight}"
          fxLayout="column">

          <!-- Researcher and Date-->
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>{{crossLabel.researcherName}}</div>
            <div>{{crossLabel.dateString}}</div>
          </div>

          <!-- Mom -->
          <div *ngIf="mom" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
            <div fxFlex="18%">M:{{crossLabel.momName}}</div>
            <div fxFlex>{{crossLabel.momLabelDescription}}</div>
            <div *ngIf="crossLabel.momTank" fxFlex="15%">T:{{crossLabel.momTank}}</div>
          </div>

          <!-- Dad -->
          <div *ngIf="dad" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
            <div fxFlex="18%">F:{{crossLabel.dadName}}</div>
            <div fxFlex>{{crossLabel.dadLabelDescription}}</div>
            <div *ngIf="crossLabel.dadTank" fxFlex="15%">T:{{crossLabel.dadTank}}</div>
          </div>

          <!-- Extra notes -->
          <div *ngIf="crossLabel.note">{{crossLabel.note}}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-select [(ngModel)]="crossLabel.fontFamily" name="fontFamily">
            <mat-option *ngFor="let option of fonts" [value]="option">
              <div>{{option}}</div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- buttons -->
    <div class="fill-remaining-space"></div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div class="fill-remaining-space"></div>
      <button (click)="done()" color="primary" mat-button>Done</button>
      <button (click)="print()" [disabled]="!crossEditForm.valid" color="primary" mat-button>Print Cross Label</button>
    </div>
  </div>
</form>

