<div mat-dialog-title>Password Reset</div>
<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="mfForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Username or email" formControlName="usernameOrEmail">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions fxLayout="row">
  <div class="fill-remaining-space"></div>
  <button mat-button (click)="onBackToLogin()" color="primary">Back to Login</button>
  <button mat-button (click)="onSubmit()" color="primary">Submit</button>
</div>

